.container-cards{
    width: 600px;
    height: 150px;

    display: flex;

    box-shadow: 5px 5px 3px 0px rgba(0, 0, 0, 0.282);
    border-radius: 10px;

    margin-bottom: 20px;
}

.photo{
    background-color: rgb(48, 48, 48);
    width: 200px;

    height: 150px;
    border-radius: 10px 0 0 10px;
    object-fit: cover;
}

.thumb{
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
    border-radius: 10px 0 0 10px;
}


.container-cards-description{
    width: 390px;
    margin-left: 10px;
}

.cards-title{
    width: 100%;
    height: 60px;

    text-align: justify;

    padding-right: 10px;
    padding-top: 5px;

    text-overflow: ellipsis;
    overflow: hidden;
}

.cards-description{
    width: 100%;
    height: 80px;

    font-size: 10pt;
    text-align: justify;

    padding-right: 10px;
    padding-top: 5px;

    text-overflow: ellipsis;
    overflow: hidden;
}

@media(max-width: 1024px){
    .container-cards{
        width: 500px;
    }

    .photo{
        width: 180px;
    }

    .container-cards-description{
        width: 310px;
        padding: 5px;
    }

    .cards-title{
        height: 50px;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

@media(max-width: 600px){
    .container-cards{
        width: 500px;
    }

    .photo{
        width: 180px;
    }

    .container-cards-description{
        width: 310px;
        padding: 5px;
        border-radius: 0 10px 10px 0;
    }

    .cards-title{
        height: 50px;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

@media(max-width: 414px){
    .container-cards{
        width: 380px;
    }

    .photo{
        width: 160px;
    }

    .container-cards-description{
        width: 210px;
        padding: 5px;
        border-radius: 0 10px 10px 0;
    }

    .cards-title{
        height: 50px;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

@media(max-width: 375px){
    .container-cards{
        width: 340px;
    }

    .photo{
        width: 140px;
    }

    .container-cards-description{
        width: 190px;
        padding: 5px;
        border-radius: 0 10px 10px 0;
    }

    .cards-title{
        height: 50px;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}