@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}

/* Header =========================================================================== */

header{
    background-color: black;
    width: 100%;
    height: 250px;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#container-header{
    width: 100%;
    height: 200px;

    display: flex;
    justify-content: space-around;

    align-items: center;
    flex-wrap: wrap;
    z-index: 55;
}

#logo{
    width: 250px;
}

#form-search{
    display: flex;
    border-radius: 10px;
}

#search-input{
    width: 300px;
    height: 40px; 
    padding-left: 5px;  
    text-transform: uppercase;
    border-radius: 10px 0 0 10px;
}

#search-button{
    width: 40px;
    height: 40px;
    cursor: pointer;
    background-color: white;
    border-radius: 0 10px 10px 0;
}

nav{
    width: 100%;
    display: flex;
    justify-content: center;
}

nav ul li{
    display: inline;
}

nav ul li a{
    color: white;
    padding: 0px 20px;
    cursor: pointer;
}

nav ul li a:hover{
    background-color: rgb(29, 29, 29);
    padding: 10px 20px;
    border-radius: 5px;
}

.botao{
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
    z-index: 55;
}

#check-menu{
    display: none;
}

@media(max-width: 858px){
    .botao{
        display: block;
    }

    nav{
        justify-content: right;
    }

    ul{
        position: fixed;
		width: 100%;
		height: 100%;
        top: 0;
        padding-top: 250px;
		background: #000000;
		right: -100%;
		transition: all .5s;
        overflow: hidden;
    }

    nav ul li{
        display: block;
        margin: 10px 0;
        line-height: 30px;
    }

    nav ul li a:hover{
        background-color: rgba(0, 0, 0, 0);
        color: grey;
    }

    #check-menu:checked ~ ul{
        left: 0%;
        display: block;
        transition: .5s;
    }

}
/* Header =========================================================================== */

/* Footer =========================================================================== */
footer{
    background-color: black;
    width: 100%;
    height: 200px;

    display: flex;
    justify-content: center;
    align-items: center;
}

#container-footer{
    display: flex;
    justify-content: space-around;
    align-items: center;

    width: 1200px;
}

#container-links{
    display: flex;
    flex-direction: column;

    font-size: 10pt;
    width: 200px;
    height: 150px;
}

#container-links a{
    color: white;
    cursor: pointer;
}

#container-about{
    color: white;
    width: 300px;
    height: 150px;

    display: flex;
    flex-direction: column;
}

#container-about p{
    font-size: 10pt;
}

#container-social{
    width: 200px;
    height: 150px;

    display: flex;
    flex-direction: column;
}

#container-social a{
    color: white;
    margin-right: 10px;
}

#container-social-icons{
    margin-top: 5px;
}
/* Footer =========================================================================== */

/* Main ============================================================================= */
main{
    display: flex;
    margin: 50px 0 300px 0;
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;
}

#container-content{
    width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#separate-space{
    width: 150px;
}


aside{
    width: 350px;
    display: flex;

    flex-direction: column;
    align-items: center;

    border: 1px solid rgba(0, 0, 0, 0.186);
    border-radius: 10px;
    
    padding-top: 50px;
}

.banners{
    width: 300px;
    height: 250px;

    background-color: black;
    margin-bottom: 50px;

    color: white;
    object-fit: cover;
}

.img-banner{
    width: 100%;
    height: 100%;
}
/* Main ============================================================================= */

/* Media ============================================================================ */
@media(max-width: 1024px){
    #separate-space{display: none;}
}

@media(max-width: 600px){

    main{
        margin-bottom: 100px;
    }

    footer{
        height: auto;
        padding-top: 20px;
    }

    #container-footer{
        width: 414px;
        flex-flow: column wrap;
    }

    #container-links{
        width: 300px;
        margin-bottom: 20px;
        border: 1px solid white;
    }

    #container-about{
        border: 1px solid white;        
        margin-bottom: 20px;
    }

    #container-social{
        align-items: center;
        border: 1px solid white;
        height: 80px;
        width: 300px;
        margin-bottom: 20px;
    }
}

@media(max-width: 414px){

    main{
        margin-bottom: 100px;
    }

    footer{
        height: auto;
        padding-top: 20px;
    }

    #container-footer{
        width: 414px;
        flex-flow: column wrap;
    }

    #container-links{
        width: 300px;
        margin-bottom: 20px;
        border: 1px solid white;
    }

    #container-about{
        border: 1px solid white;        
        margin-bottom: 20px;
    }

    #container-social{
        align-items: center;
        border: 1px solid white;
        height: 80px;
        width: 300px;
        margin-bottom: 20px;
    }
}
/* Media ============================================================================ */